# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/my-app-typescript/node_modules
/my-app-typescript/.pnp
/my-app-typescript/pnp.js

# testing
/my-app-typescript/coverage

# production
/my-app-typescript/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
